/*
Curso de Engenharia de Software - UniEVANGÉLICA 
Disciplina de Programação Web 
Dev: Gabriel Cintra Brandão
DATA: 08/07/2023
*/

/* Estilos para o Arquivo 2: formulário */
form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #11b979; /* branco */
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

input[type="submit"],
input[type="reset"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
}

body {
    background-image: url("/Semana2/background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
